/*variables*/
//background colors
$color1: black;
$color2: grey;
$color4: white;
//text colors
$text-color1: black;
$text-color2: grey;
$text-color3: red;
$text-color4: #c29114;//logo
//widths
$min-width: 250px;
$min-width-form: 225px;
$inner-width: 90%;
$max-width: 900px;
/*flex-container mixin*/
@mixin flex-container($direction, $justify-content) {
  display: flex;
  flex-wrap: wrap;
  flex: 0 0 auto;
  flex-direction: $direction;
  justify-content: $justify-content;
}
/*reset css*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  font-size: 100%;
  font-family: "Times New Roman", Times, serif;
}
/*styles*/
html {
  font-size: 0.625em; //=10px
}
#site {
  @include flex-container(column, space-around);
  flex: 1 0 auto !important;//to fix Safari flexbox bug
  min-width: $min-width;
  min-height: 100vh;
}
header {
  @include flex-container(row, center);
  background-color: $color4;
  border-bottom: 2px solid $color1;
}
.header-container {
  @include flex-container(row, space-between);
  flex: 0 0 $inner-width;
  align-items: center;
  align-content: center;
  font-weight: bold;
  padding: 1rem 0;
  nav {
    padding: 0.4rem 0;
    ul {
      @include flex-container(row, space-between);
      wrap: nowrap;
      li {
        .link{
          color: $text-color1;
        }
        .active{
          color: $text-color4;;
        }
        text-transform: uppercase;
        padding: 0 0.5rem;
        font-size: 1.6rem;
        &:first-child{
          padding-left: 0;
        }
        &:last-child{
          padding-right: 0;
        }
      }
    }
  }
}
.logo {
  font-size: 2.8rem;
  letter-spacing: 0.1rem;
  padding: 0.4rem 0;
  color: $text-color4;
}
.link, a {
  text-decoration: none;
  color: $text-color4;
}
main {
  @include flex-container(column, flex-start);
  align-items: center;
  flex: 1 0 auto !important;//to fix Safari flexbox bug
  // flex-grow: 1; //konieczne żeby footer był zawsze na dole, a header na górze, nawet jeśli treść nie zajmuje całej strony - nie działa na IE11
  min-width: $min-width;
  background-image: url('./images/background-2.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  // border: 1px solid brown;
}
.main-container {
  @include flex-container(row, center);
  width: 100%; //not good but no other way to set width inside flex-direction: column container
}
.content { //czarna ramka, białe tło
  @include flex-container(row, center);
  align-content: space-around;
  flex: 0 0 100%;
  max-width: $max-width;
  min-height: 40vh;
  background-color: $color4;
  border: 2px solid $color1;
  padding: 1rem 0 1rem 0;
  margin: 8vh 0 8vh 0;
}
.text-content{
  @include flex-container(row, center);
  flex: 0 0 $inner-width;
  align-items: center;
  padding: 1rem 0;
  text-align: center;
  h1{
    flex: 0 1 100%;
    @include flex-container(row, center);
    align-items: center;
    .logo {
      font-size: 2rem;
      padding: 0 0.5rem;
    }
    font-size: 2rem;
    font-weight: bold;
    padding: 2rem 0;
    letter-spacing: 0.1rem;
  }
  h2{
    flex: 0 0 100%;
    font-size: 1.6rem;
    font-weight: bold;
    padding-top: 1.5rem;
  }
  p {
    flex: 0 0 100%;
    font-size: 1.6rem;
    line-height: 1.2em;
    margin: 1rem 0;
  }
  button{
    cursor: pointer;
    color: $text-color4;
    font-size: 1.8rem;
    font-weight: bold;
    margin-top: 2rem;
    margin-bottom: 1rem;
    padding: 0.7rem 2rem;
    background-color: white;
    border: 2px solid $text-color4;
    border-radius: 1.5rem;
  }
  .note {
    color: $text-color4;
    text-transform: uppercase;
  }
}
#form {
  flex: 0 0 $inner-width;
  padding-bottom: 1rem;
  h1 {
    font-size: 3.4rem;
    margin: 2rem 0 1rem 0;
  }
  h2 {
    font-size: 2rem;
    margin: 1rem 0 3rem 0;
  }
}
form#search-form {
  @include flex-container(row, space-between);
  font-size: 1.5rem;
}
.form-half {
  .form-item {
    padding: 1rem 0;
    line-height: 25px !important; //to override firefox defaults
    @include flex-container(row, space-between);
    input {
      height: 25px !important; //to override firefox defaults
      line-height: 25px !important; //to override firefox defaults
    }
  }
}
.form-between{
  flex: 0 0 3%;
}
.form-left {
  @include flex-container(row, space-between);
  align-items: flex-start;
  align-content: flex-start;
  flex: 0 0 $min-width-form;
  .form-item {
    flex: 0 0 $min-width-form;
    input {
      width: 50px;
    }
  }
}
.form-right {
  @include flex-container(row, space-between);
  flex: 0 0 65%;
  min-width: $min-width-form;
    .form-item {
      flex: 0 0 $min-width-form;
      input {
        width: 135px;
      }
    }
    .form-p{
      flex: 0 1 auto;
      p {
        font-size: 1.3rem;
        padding: 1rem 1rem 1rem 0;
      }
    }
}
.search-bar {
  @include flex-container(row, space-between);
  align-items: center;
  flex-wrap: nowrap;
  flex: 0 0 100%;
  .alert {
    flex: 0 1 80%;
    padding-right: 1rem;
    font-size: 1.5rem;
    color: $text-color3;
  }
  .button-div {
    @include flex-container(row-reverse, space-between);
    flex: 0 0 20%;
    min-width: 9rem;
    align-self: flex-start;
    #search-button {
      width: 9rem;
      font-size: 1.5rem;
      font-weight: bold;
      padding: 0.5em 1em 0.5em 1em;
      margin-bottom: 1rem;
    }
  }
}
#results {
  flex: 0 0 $inner-width;
  p {
    font-size: 1.8rem;
    line-height: 2.5rem;
    font-weight: bold;
    color: $text-color1;
    margin-bottom: 2rem;
    span {
      color: $text-color4;
    }
  }
}
li.country-li{
  font-size: 1.6rem;
  line-height: 3rem;
  color: $text-color1;
  font-weight: bold;
}
li.city-li{
  display: inline-block;
  text-indent: 30px;
  a.google-flights-link{
    text-decoration: none;
    color: $text-color4;
  }
}

footer {
  @include flex-container(row, center);
  background-color: $color4;
  border-top: 2px solid $color1;
  align-items: center;
  .footer-container {
    @include flex-container(row, space-between);
    padding: 1rem 0;
    flex: 0 1 $inner-width;
    flex-wrap: nowrap;
    font-size: 1.4rem;
    font-weight: bold;
    div {
      height: 100%;
    }
    #disclaimer{
      padding-right: 2rem;
    }
    #powered{
      text-align: right;
      a {
        text-decoration: none;
        color: $text-color4;
      }
    }
  }
}
